<mat-card class="content">
    <h2>Create company</h2>

    <div class="input-line">
        <div class="input-label">Name</div>
        <input class="input-text" [(ngModel)]="companyName" />
    </div>

    <div class="input-line">
        <div class="input-label">Code</div>
        <input class="input-text" [(ngModel)]="companyCode" />
    </div>

    <div class="input-line">
        <div class="input-label">Sector</div>
        <select class="input-text" [(ngModel)]="companySector" >
            <option selected></option>
            <option *ngFor="let sector of listOfSectors" [value]="sector.Name">
                {{sector.Name}}
            </option>
        </select>
    </div>

    <div class="input-line">
        <div class="input-label">Description</div>
        <textarea class="input-textarea" [(ngModel)]="companyDesc"></textarea>
    </div>

    <input type="button" class="input-btn" value="Save" (click)="saveCompany()" />
</mat-card>