<mat-card class="content">
    <h2 style="text-align: center">Update stock prices</h2>

    <div style="display: flex; flex-direction: row;">
        <div class="input-line">
            <span class="input-label">Stock</span>
            <select class="input-text" [(ngModel)]="stockToUpdate">
                <option value="abc">ABC</option>
                <option value="def">DEF</option>
                <option value="ghi">GHI</option>
                <option value="jkl">JKL</option>
            </select>
        </div>

        <div class="input-line">
            <span class="input-label">Current price</span>
            <input class="input-text" type="number" min="0" max="10000" [(ngModel)]="currentPrice" />
        </div>

        <div class="input-line" style="padding: 8px;">
            <input type="button" class="input-btn" value="Add" (click)="addStockPrice()" />
        </div>
    </div>


    <div style="margin-top: 24px">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 fw-table">
            <!-- <thead>
                <tr>
                    <td>Stock</td>
                    <td>Current price</td>
                    <td>Apply?</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sp of stockPrices">
                    <td>{{sp.stock}}</td>
                    <td><input type="number" min="0" max="10000" [(ngModel)]="sp.price" /></td>
                    <td><input type="checkbox" [(ngModel)]="sp.apply" /></td>
                </tr>
            </tbody> -->


            <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef>Stock</th>
                    <td mat-cell *matCellDef="let element">{{element.stock}}</td>
                </ng-container>
        
                <ng-container matColumnDef="current_price">
                    <th mat-header-cell *matHeaderCellDef>Current price</th>
                    <td mat-cell *matCellDef="let element">
                        <input type="number" min="0" max="10000" [(ngModel)]="element.price" />
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="apply">
                    <th mat-header-cell *matHeaderCellDef>Apply ?</th>
                    <td mat-cell *matCellDef="let element">
                        <input type="checkbox" [(ngModel)]="element.apply" />
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>

    <div style="margin-top: 64px">
        <input type="button" value="Save" (click)="savePrices()" />
    </div>
</mat-card>